{% extends 'base.html' %}

{% load bootstrap5 %}
{% block title %}
Vnos nove rezervacije
{% endblock %}


{% block content %}
<div class="container-fluid ">
    <div style="width: 400px;"> 
        
        
            
            
            <p>Ali je formular submitted? {{ submitted }}</p>
            
            {% if submitted == True %}
            Form je uspešno shranjen!
            
            {% else %}
            
            
            
            
            
            
            
                <form role="form" action="" method="post">
                    {% csrf_token %}
                
                    
                    
                    {% bootstrap_form_errors forma type='non_fields' %}
                    {% bootstrap_form forma layout="horizontal" %}
                    
                    {% buttons submit='OK' reset='Cancel' layout='horizontal' %}{% endbuttons %}
                    
                    
                </form>
            </div>
            {% endif %}
            
        </div>
        
        
    </div>
</div>
    {% endblock %}
    
    
    
    
    
    
    <!--
        <label for="sifra">Šifra </label>
        <input class="form-control" id="sifra" type="text" name="sifravnosa" value="12345687e" maxlength="100" required>
        
        <label for="ime_stranke">Ime Stranke </label>
        <input class="form-control" id="ime_stranke" type="text" name="imestranke" value="{{ ImeStranke }}" maxlength="100" required>
        
        <label for="agencija">Agencija </label>
        <input class="form-control" id="agencija" type="text" name="agencija" value="{{ Agencija }}" maxlength="100" required>
        
        <label for="od">Datum Od</label>
        <input class="form-control" id="od" type="text" placeholder="dd.mm.yyyy" name="od" value="{{ DatumOD }}" required>
        
        <label for="do">Datum Do</label>
        <input class="form-control" id="do" type="text" placeholder="dd.mm.yyyy" name="do" value="{{ DatumDO }}" required>
        
        <label for="Cena">Cena </label>
        <input class="form-control" id="Cena" type="number" name="CENA" value="150.53" maxlength="100" required>

        <label for="stsobe">stsobe </label>
        <input class="form-control" id="stsobe" type="number" name="stsobe" value="33" maxlength="100" required>
        
        <label for="st_sobe">stsobe </label>
        <input class="form-control" id="st_sobe" type="number" name="SO" value="3" required>

        <label for="tip">Tip sobe </label>
        <input class="form-control" id="tip" type="text" name="tip" value="q" required>
        
        <label for="RNA">RNA </label>
        <input class="form-control" id="RNA" type="text" name="RNA" value="refOK" required>

        <label for="DR">Država </label>
        <input class="form-control" id="DR" type="text" name="DR" value="SI" required>
        
        <label for="TTAX">Tur Taxa </label>
        <input class="form-control" id="TTAX" type="text" name="StanjeTTAX" value="Ttaksa JE vključena" required>
        
            -->
        
        
        
        
        
        
        
        
        














        
