{% extends 'base.html' %}

{% load bootstrap5 %}

{% block title %}
    Formular Delete Rezervacija
{% endblock %}


{% block content %}


<div class="row">
    <div class="coll-md-6"> 
        <div class="card card-body">


        <p>Ali želiš izbrisati to rezervacijo? {{item}}</p>

        <form action="{% url 'form_delete' item.id %}" method="post"  >                                   <!--"form_home/{{ IdGosta }}/update">    -->
        {% csrf_token %}
            <a class="btn btn-warning" href="{% url 'form_rezervacije' %}">Prekliči</a>
        
            <input class="btn btn-danger" type="submit" value="Potrdi">
        </form>

        </div>
    </div>
</div>






{% endblock %}