{% extends 'base.html' %}

{% load bootstrap5 %}

{% block title %}
Formular Graf
{% endblock %}

 <button style="display: block;" >Knof</button>

{% block content %}




<style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      font-size: 16px;
      line-height: 1.4;
    }
    
    .rg-container {
      margin: 0 auto;
      padding: 1em 0.5em;
      color: #222;
    }
    
    caption {
      margin-bottom: 1em;
      text-align: left;
    }
    
    table {
      width: 650px;
      margin-bottom: 0.5em;
      font-size: 1em;
      border-collapse: collapse;
      border-spacing: 0;
      table-layout: fixed;

      
  border: 2px solid rgb(54, 7, 7);
  border-radius: 5px;
  
  outline: 1px solid rgb(49, 1, 1);



    }
    
    thead {
      border-bottom: 3px solid #ddd;
    }
    
    tr {
      border-bottom: 1px solid black;
      
      color: #222;
    }
    
    tbody tr:hover {
      background-color: #15d6cd !important;
    }
    
    .zebra tr:nth-child(even) {
      background-color: #f00f0f;
    }
    
    th {
      font-weight: bold;
      padding: 0.35em;
      font-size: 0.9em;
      text-align: center;
      width: 39px;
      height: 20px;
    }
    .first th {
  position: sticky;
  top: 0px;
}

.second th {
  position: sticky;
  top: 45px;
}

    td {
      padding: 0.35em;
      font-size: 12px;
      word-wrap: break-word;
      text-align: center;
      border-right: 1px solid black;
      height: 5px;
      width: 8px;
      font-weight: bold;
    }
    
    td:hover {
      font-weight: bold;
    }
    
   
    tbody {
  overflow: scroll;
}

  </style>



<script>
    var tableCells = document.getElementsByTagName("td");
    for (var i = 0; i < tableCells.length; i++) {
        tableCells[i].setAttribute("title", "This is the hover text");
    }
</script>

<!--DANES -->
<script>
    function addDateAndSubmit() {
    var currentDate = new Date();
    var day = currentDate.getDate();
    var month = currentDate.getMonth() + 1; // getMonth() returns 0-11 so we need to add 1
    var year = currentDate.getFullYear();
    var dateString = day + "." + month + "." + year;
    document.getElementById("id_datum").value = dateString;
    document.forms[0].submit();
}
</script>

<!--+ 7 days-->
<script> 
function addSevenDaysToInput() {
    var inputDate = document.getElementById("id_datum").value;
    var dateArray = inputDate.split(".");
    var day = parseInt(dateArray[0]);
    var month = parseInt(dateArray[1]) - 1; // getMonth() expects 0-11
    var year = parseInt(dateArray[2]);
    var currentDate = new Date(year, month, day);
    var futureDate = new Date();
    futureDate.setDate(currentDate.getDate() + 7);
    day = futureDate.getDate();
    month = futureDate.getMonth() + 1;
    year = futureDate.getFullYear();
    var dateString = day + "." + month + "." + year;
    document.getElementById("id_datum").value = dateString;
    document.forms[0].submit();
}
</script> 
<!--- 7 days-->
<script> 
    function MinusSevenDaysToInput() {
        var inputDate = document.getElementById("id_datum").value;
        var dateArray = inputDate.split(".");
        var day = parseInt(dateArray[0]);
        var month = parseInt(dateArray[1]) - 1; // getMonth() expects 0-11
        var year = parseInt(dateArray[2]);
        var currentDate = new Date(year, month, day);
        var futureDate = new Date();
        futureDate.setDate(currentDate.getDate() - 7);
        day = futureDate.getDate();
        month = futureDate.getMonth() + 1;
        year = futureDate.getFullYear();
        var dateString = day + "." + month + "." + year;
        document.getElementById("id_datum").value = dateString;
        document.forms[0].submit();
    }
    </script> 
    


<div class="container-fluid">
    <form role="form" action="" method="post">
        {% csrf_token %}
        {{formDatum}}  
        {% buttons submit='OK' reset='Cancel' layout='horizontal' %}{% endbuttons %}
    </form>
    
    <button class="btn btn-danger" onclick="MinusSevenDaysToInput()">- 7 D</button>
    <button class="btn btn-danger" onclick="addDateAndSubmit()">Danes</button>
    <button class="btn btn-danger" onclick="addSevenDaysToInput()">+ 7 D</button>
    
</div>
    


<div class="container-fluid">
    
    

    <!--  TABELA ******************************** -->
    
    <table>   
{% for p in rezervacije %}
        
        

    

    {% if p.S0 == "xxx" %}
    <thead class="header-row">
        <tr class="first">    
        {% for k, v in p.items %}
        {% if k == "S16" %}
        <th style="background-color: red ; border-left: 6px solid red;"> {{ v }} </th>
        {% else %}
        <th style="background-color: orange ;"> {{ v }}</th>
        {% endif %}
        {% endfor %}
    </tr>
    {% endif %}
    
    {% if p.S0 == "Dan" %}
    <tr class="second"> 
        {% for k, v in p.items %}
            {% if k == "S16" %}
            <th style="background-color: red ; border-left: 6px solid red;"> {{ v }} </th>
            {% else %}
            <th style="background-color: orange ;"> {{ v }}</th>
            {% endif %}
        {% endfor %}
    {% endif %}
    </thead>
</tr>



<tr> 
    {% if p.S0|add:"0" > 0 %}
    
    {% for k, v in p.items %}
        {% if k == "S0" %}    
            <td style="background-color: lightblue;"> {{ v }}
        
        {% elif ":" in v or k == "S16" %}
            {% if k == "S16" %}
                {% if ">" in v and ":" in v %}
                    <td style="background-color: lightpink; border-left: 6px solid red;" onmouseover="this.title='{{ v }}'" onmouseout="this.title=''"><a href="update/{{ v }}">O></a></td>
                {% elif ":" in v %} <!--S16 rezervacije na ta dan z 1 dnevom  O>  -->
                    <td style="background-color: lightpink; border-left: 6px solid red;" onmouseover="this.title='{{ v }}'" onmouseout="this.title=''"><a href="update/{{ v }}">O</a></td>
                {% endif %}
            {% if ":" not in v %}
                <td style="background-color: white;border-left: 6px solid red;"> {{ v }} </td>
            {% endif %}
            
            
        {% else %} <!--VSI OSTALI STOLPCI RAZEN S16-->
                <td style="background-color: lightpink;" onmouseover="this.title='{{ v }}'" onmouseout="this.title=''"><a href="update/{{ v }}">O</a></td>
            {% endif %}
        {% else %}
            <td style="background-color: white ;"> {{ v }} </td>
        {% endif %}
  
        {% endfor %}
    {% endif %}
</tr>
    








    <tr>
    {% if p.S0 == "Zaj"  or p.S0 == "StS" or p.S0 == "Prh" or p.S0 == "Men" %}
        
            {% for k, v in p.items %}        
            
                {% if k == "S0" %}
                <td style="background-color: lightgreen;"> {{ v }} </td> 
                {% elif k == "S16" %}
                <td style="background-color: white ; font-style: italic;color: brown;border-left: 6px solid red;" > {{ v }} </td>
                {% else %}
                <td style="background-color: white ; font-style: italic;color: brown;" > {{ v }} </td>
                {% endif %}
            
            {% endfor %}
        
    {% endif %}

    </tr>




{% endfor %}



</table>

</div>




<div class="container-fluid">
<table> <!--class="table table-bordered border-primary"-->
    
        <!--<th>{{ Sobe.S0 }}</th>
        <th>Akcija</th>
        <th>Za oseb</th>
        <th>Status</th>
        <th>Potrditev</th>
        -->

    {% for x in rezervacije %}
    
    
    {% if x.S0 == "xxx" %}
    <thead class="header-row">
    <tr class="first">
        
        
        
            <th style="background-color: orange ;"> {{ x.S0 }} </th>
            <th style="background-color: orange ;"> {{ x.S1 }} </th>
            <th style="background-color: orange ;"> {{ x.S2 }} </th>
            <th style="background-color: orange ;"> {{ x.S3 }} </th>
            <th style="background-color: orange ;"> {{ x.S4 }} </th>
            <th style="background-color: orange ;"> {{ x.S5 }} </th>
            <th style="background-color: orange ;"> {{ x.S6 }} </th>
            <th style="background-color: orange ;"> {{ x.S7 }} </th>
            <th style="background-color: orange ;"> {{ x.S8 }} </th>
            <th style="background-color: orange ;"> {{ x.S9 }} </th>
            <th style="background-color: orange ;"> {{ x.S10 }} </th>
            <th style="background-color: orange ;"> {{ x.S11 }} </th>
            <th style="background-color: orange ;"> {{ x.S12 }} </th>
            <th style="background-color: orange ;"> {{ x.S13 }} </th>
            <th style="background-color: orange ;"> {{ x.S14 }} </th>
            <th style="background-color: orange ;"> {{ x.S15 }} </th>
            <th style="background-color: red ; border-left: 6px solid red;"> {{ x.S16 }} </th>
            <th style="background-color: orange ;"> {{ x.S17 }} </th>
            <th style="background-color: orange ;"> {{ x.S18 }} </th>
            <th style="background-color: orange ;"> {{ x.S19 }} </th>
            <th style="background-color: orange ;"> {{ x.S20 }} </th>
            <th style="background-color: orange ;"> {{ x.S21 }} </th>
            <th style="background-color: orange ;"> {{ x.S22 }} </th>
            <th style="background-color: orange ;"> {{ x.S23 }} </th>
            <th style="background-color: orange ;"> {{ x.S24 }} </th>
            <th style="background-color: orange ;"> {{ x.S25 }} </th>
            <th style="background-color: orange ;"> {{ x.S26 }} </th>
            <th style="background-color: orange ;"> {{ x.S27 }} </th>
        </tr>    
        {% endif %}
        {% if x.S0 == "Dan" %}
        <tr class="second">
            
                <th style="background-color: orange ;"> {{ x.S0 }} </th>
                <th style="background-color: orange ;"> {{ x.S1 }} </th>
                <th style="background-color: orange ;"> {{ x.S2 }} </th>
                <th style="background-color: orange ;"> {{ x.S3 }} </th>
                <th style="background-color: orange ;"> {{ x.S4 }} </th>
                <th style="background-color: orange ;"> {{ x.S5 }} </th>
                <th style="background-color: orange ;"> {{ x.S6 }} </th>
                <th style="background-color: orange ;"> {{ x.S7 }} </th>
                <th style="background-color: orange ;"> {{ x.S8 }} </th>
                <th style="background-color: orange ;"> {{ x.S9 }} </th>
                <th style="background-color: orange ;"> {{ x.S10 }} </th>
                <th style="background-color: orange ;"> {{ x.S11 }} </th>
                <th style="background-color: orange ;"> {{ x.S12 }} </th>
                <th style="background-color: orange ;"> {{ x.S13 }} </th>
                <th style="background-color: orange ;"> {{ x.S14 }} </th>
                <th style="background-color: orange ;"> {{ x.S15 }} </th>
                <th style="background-color: red ; border-left: 6px solid red;"> {{ x.S16 }} </th>
                <th style="background-color: orange ;"> {{ x.S17 }} </th>
                <th style="background-color: orange ;"> {{ x.S18 }} </th>
                <th style="background-color: orange ;"> {{ x.S19 }} </th>
                <th style="background-color: orange ;"> {{ x.S20 }} </th>
                <th style="background-color: orange ;"> {{ x.S21 }} </th>
                <th style="background-color: orange ;"> {{ x.S22 }} </th>
                <th style="background-color: orange ;"> {{ x.S23 }} </th>
                <th style="background-color: orange ;"> {{ x.S24 }} </th>
                <th style="background-color: orange ;"> {{ x.S25 }} </th>
                <th style="background-color: orange ;"> {{ x.S26 }} </th>
                <th style="background-color: orange ;"> {{ x.S27 }} </th>
            </tr>    
    


        </thead> 
        <tbody>
        <tr>
        {% elif x.S0 == "Zaj"  or x.S0 == "StS" or x.S0 == "Prh" %}
            
            
        
        
        
            <td style="background-color: lightgreen;"> {{ x.S0 }} </td>  
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);"> {{ x.S1 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);"> {{ x.S2 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S3 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S4 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S5 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S6 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S7 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S8 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S9 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S10 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S11 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S12 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S13 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S14 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S15 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);border-left: 6px solid red;" > {{ x.S16 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S17 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S18 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S19 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S20 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S21 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S22 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S23 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S24 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S25 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S26 }} </td>
            <td style="background-color: white; font-style: italic; color:rgb(28, 4, 248);" > {{ x.S27 }} </td>

        
        {% elif x.S0 == "Men" %}    
            <td style="background-color: lightgreen;"> {{ x.S0 }} </td>  
            <td style="background-color: white ; font-style: italic;color: brown;"> {{ x.S1 }} </td>
            <td style="background-color: white ; font-style: italic; color:brown;"> {{ x.S2 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S3 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S4 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S5 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S6 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S7 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S8 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S9 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S10 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S11 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S12 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S13 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S14 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S15 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;border-left: 6px solid red;" > {{ x.S16 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S17 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S18 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S19 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S20 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S21 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S22 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S23 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S24 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S25 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S26 }} </td>
            <td style="background-color: white ; font-style: italic;color: brown;" > {{ x.S27 }} </td>


        
        {% else %}
            <!-- {% if x.S0|add:"0" > 0 %}-->   <!-- !!!!!  -->
            <td style="background-color: lightblue;"> {{ x.S0 }} </td>  
            
            
            {% if ":" in x.S1 %}
                {% if ">" in x.S1 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S1 }}'" onmouseout="this.title=''"><a href="update/{{ x.S1 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S1 }}'" onmouseout="this.title=''"><a href="update/{{ x.S1 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S1 }} </td>
            {% endif %}

            {% if ":" in x.S2 %}
                {% if ">" in x.S2 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S2 }}'" onmouseout="this.title=''"><a href="update/{{ x.S2 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S2 }}'" onmouseout="this.title=''"><a href="update/{{ x.S2 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S2 }} </td>
            {% endif %}
            
            
            {% if ":" in x.S3 %}
                {% if ">" in x.S3 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S3 }}'" onmouseout="this.title=''"><a href="update/{{ x.S3 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S3 }}'" onmouseout="this.title=''"><a href="update/{{ x.S3 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S3 }} </td>
            {% endif %}

            
           {% if ":" in x.S4 %}
                {% if ">" in x.S4 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S4 }}'" onmouseout="this.title=''"><a href="update/{{ x.S4 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S4 }}'" onmouseout="this.title=''"><a href="update/{{ x.S4 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S4 }} </td>
            {% endif %}
            
            {% if ":" in x.S5 %}
                {% if ">" in x.S5 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S5 }}'" onmouseout="this.title=''"><a href="update/{{ x.S5 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S5 }}'" onmouseout="this.title=''"><a href="update/{{ x.S5 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S5 }} </td>
            {% endif %}
            
            {% if ":" in x.S6 %}
                {% if ">" in x.S6 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S6 }}'" onmouseout="this.title=''"><a href="update/{{ x.S6 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S6 }}'" onmouseout="this.title=''"><a href="update/{{ x.S6 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S6 }} </td>
            {% endif %}

            {% if ":" in x.S7 %}
                {% if ">" in x.S7 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S7 }}'" onmouseout="this.title=''"><a href="update/{{ x.S7 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S7 }}'" onmouseout="this.title=''"><a href="update/{{ x.S7 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S7 }} </td>
            {% endif %}

            {% if ":" in x.S8 %}
                {% if ">" in x.S8 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S8 }}'" onmouseout="this.title=''"><a href="update/{{ x.S8 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S8 }}'" onmouseout="this.title=''"><a href="update/{{ x.S8 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S8 }} </td>
            {% endif %}
            
            {% if ":" in x.S9 %}
                {% if ">" in x.S9 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S9 }}'" onmouseout="this.title=''"><a href="update/{{ x.S9 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S9 }}'" onmouseout="this.title=''"><a href="update/{{ x.S9 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S9 }} </td>
            {% endif %}

            {% if ":" in x.S10 %}
                {% if ">" in x.S10 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S10 }}'" onmouseout="this.title=''"><a href="update/{{ x.S10 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S10 }}'" onmouseout="this.title=''"><a href="update/{{ x.S10 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S10 }} </td>
            {% endif %}


            {% if ":" in x.S11 %}
                {% if ">" in x.S11 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S11 }}'" onmouseout="this.title=''"><a href="update/{{ x.S11 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S11 }}'" onmouseout="this.title=''"><a href="update/{{ x.S11 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S11 }} </td>
            {% endif %}

            {% if ":" in x.S12 %}
                {% if ">" in x.S12 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S12 }}'" onmouseout="this.title=''"><a href="update/{{ x.S12 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S12 }}'" onmouseout="this.title=''"><a href="update/{{ x.S12 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S12 }} </td>
            {% endif %}

             {% if ":" in x.S13 %}
                {% if ">" in x.S13 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S13 }}'" onmouseout="this.title=''"><a href="update/{{ x.S13 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S13 }}'" onmouseout="this.title=''"><a href="update/{{ x.S13 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S13 }} </td>
            {% endif %}

            {% if ":" in x.S14 %}
                {% if ">" in x.S14 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S14 }}'" onmouseout="this.title=''"><a href="update/{{ x.S14 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S14 }}'" onmouseout="this.title=''"><a href="update/{{ x.S14 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S14 }} </td>
            {% endif %}

            {% if ":" in x.S15 %}
                {% if ">" in x.S15 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S15 }}'" onmouseout="this.title=''"><a href="update/{{ x.S15 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S15 }}'" onmouseout="this.title=''"><a href="update/{{ x.S15 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S15 }} </td>
            {% endif %}

            {% if ":" in x.S16 %}
                {% if ">" in x.S16 %}
                <td style="background-color: lightpink; border-left: 6px solid red;"  onmouseover="this.title='{{ x.S16 }}'" onmouseout="this.title=''"><a href="update/{{ x.S16 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink; border-left: 6px solid red;"  onmouseover="this.title='{{ x.S16 }}'" onmouseout="this.title=''"><a href="update/{{ x.S16 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white; border-left: 6px solid red;"> {{ x.S16 }} </td>
            {% endif %}

            {% if ":" in x.S17 %}
                {% if ">" in x.S17 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S17 }}'" onmouseout="this.title=''"><a href="update/{{ x.S17 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S17 }}'" onmouseout="this.title=''"><a href="update/{{ x.S17 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S17 }} </td>
            {% endif %}

            {% if ":" in x.S18 %}
                {% if ">" in x.S18 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S18 }}'" onmouseout="this.title=''"><a href="update/{{ x.S18 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S18 }}'" onmouseout="this.title=''"><a href="update/{{ x.S18 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S18 }} </td>
            {% endif %}

            {% if ":" in x.S19 %}
                {% if ">" in x.S19 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S19 }}'" onmouseout="this.title=''"><a href="update/{{ x.S19 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S19 }}'" onmouseout="this.title=''"><a href="update/{{ x.S19 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S19 }} </td>
            {% endif %}

            {% if ":" in x.S20 %}
                {% if ">" in x.S20 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S20 }}'" onmouseout="this.title=''"><a href="update/{{ x.S20 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S20 }}'" onmouseout="this.title=''"><a href="update/{{ x.S20 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S20 }} </td>
            {% endif %}

            {% if ":" in x.S21 %}
                {% if ">" in x.S21 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S21 }}'" onmouseout="this.title=''"><a href="update/{{ x.S21 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S21 }}'" onmouseout="this.title=''"><a href="update/{{ x.S21 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S21 }} </td>
            {% endif %}

            {% if ":" in x.S22 %}
                {% if ">" in x.S22 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S22 }}'" onmouseout="this.title=''"><a href="update/{{ x.S22 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S22 }}'" onmouseout="this.title=''"><a href="update/{{ x.S22 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S22 }} </td>
            {% endif %}

            {% if ":" in x.S23 %}
                {% if ">" in x.S23 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S23 }}'" onmouseout="this.title=''"><a href="update/{{ x.S23 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S23 }}'" onmouseout="this.title=''"><a href="update/{{ x.S23 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S23 }} </td>
            {% endif %}

            {% if ":" in x.S24 %}
                {% if ">" in x.S24 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S24 }}'" onmouseout="this.title=''"><a href="update/{{ x.S24 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S24 }}'" onmouseout="this.title=''"><a href="update/{{ x.S24 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S24 }} </td>
            {% endif %}

            {% if ":" in x.S25 %}
                {% if ">" in x.S25 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S25 }}'" onmouseout="this.title=''"><a href="update/{{ x.S25 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S25 }}'" onmouseout="this.title=''"><a href="update/{{ x.S25 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S25 }} </td>
            {% endif %}

            {% if ":" in x.S26 %}
                {% if ">" in x.S26 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S26 }}'" onmouseout="this.title=''"><a href="update/{{ x.S26 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S26 }}'" onmouseout="this.title=''"><a href="update/{{ x.S26 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S26 }} </td>
            {% endif %}

            {% if ":" in x.S27 %}
                {% if ">" in x.S27 %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S27 }}'" onmouseout="this.title=''"><a href="update/{{ x.S27 }}">O></a></td>
                {% else %}
                <td style="background-color: lightpink;" onmouseover="this.title='{{ x.S27 }}'" onmouseout="this.title=''"><a href="update/{{ x.S27 }}">O</a></td>
                {% endif %}
            {% else %}
            <td style="background-color: white ;"> {{ x.S27 }} </td>
            {% endif %}






            
            
            
            
            
           <!--
            
            <td style="background-color: white ;"> {{ x.S2 }} </td>
            <td style="background-color: white ;"> {{ x.S3 }} </td>
            <td style="background-color: white ;"> {{ x.S4 }} </td>
            <td style="background-color: white ;"> {{ x.S5 }} </td>
            <td style="background-color: white ;"> {{ x.S6 }} </td>
            <td style="background-color: white ;"> {{ x.S7 }} </td>
            <td style="background-color: white ;"> {{ x.S8 }} </td>
            <td style="background-color: white ;"> {{ x.S9 }} </td>
            <td style="background-color: white ;"> {{ x.S10 }} </td>
            <td style="background-color: white ;"> {{ x.S11 }} </td>
            <td style="background-color: white ;"> {{ x.S12 }} </td>
            <td style="background-color: white ;"> {{ x.S13 }} </td>
            <td style="background-color: white ;"> {{ x.S14 }} </td>
            <td style="background-color: white ;"> {{ x.S15 }} </td>
            <td style="background-color: white ;border-left: 6px solid red;"> {{ x.S16 }} </td>
            <td style="background-color: white ;"> {{ x.S17 }} </td>
            <td style="background-color: white ;"> {{ x.S18 }} </td>
            <td style="background-color: white ;"> {{ x.S19 }} </td>
            <td style="background-color: white ;"> {{ x.S20 }} </td>
            <td style="background-color: white ;"> {{ x.S21 }} </td>
            <td style="background-color: white ;"> {{ x.S22 }} </td>
            <td style="background-color: white ;"> {{ x.S23 }} </td>
            <td style="background-color: white ;"> {{ x.S24 }} </td>
            <td style="background-color: white ;"> {{ x.S25 }} </td>
            <td style="background-color: white ;"> {{ x.S26 }} </td>
            <td style="background-color: white ;"> {{ x.S27 }} </td>

            --> 
            
            
            <!-- {% endif %}   -->
        {% endif %} 
        
       

    </tr>
    </tbody>
    {% endfor %} 
    </table>
</div>


{% endblock %}


<!--SPLIT-->
% for fruit in "apple,orange,banana"|split:"," %
     fruit 
% endfor %

% for fruit in fruits|split:"," %
     fruit 
% endfor %