{% extends 'base.html' %}
{% load static %}

<!-- % load bootstrap5 %} -->

{% block title %}
    Formular Izberi sobo
{% endblock %}


{% block content %}



<div class="container-fluid">
    <form method="post">
        {% csrf_token %}
        <select class="form-control"  name="izberisobo" style="width: 200px;" >    <!-- form.field_name.auto_id }}">-->
            {% for option in choices %}
                <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        <br>
        <input class="btn btn-danger" type="submit" value="Submit">
    </form>
</div>











<!--

<div style="width: 400px;">
    <form role="form" action="" method="post">
        % csrf_token %}
        % bootstrap_form_errors forma type='non_fields' %}
        % bootstrap_form forma layout="horizontal" %}
        % buttons submit='OK' reset='Cancel' layout='horizontal' %}  % endbuttons %}
        
    </form>
</div>
-->

    

    {% endblock %}