{% extends 'base.html' %}

{% block title %}
    Virtual CCD podrobnosti
{% endblock %}


{% block content %}

<table class="table table-bordered" style="width: 200px; margin-left: 10px;">
    <th>{{rezervacija.imestranke}} </th>
    <tr>
        <td>{{rezervacija.agencija}} </td>
    </tr>
    <tr>
        <td>{{rezervacija.CENA}} EUR </td>
    </tr>
    <tr>
        <form action="" method="post">
            {% csrf_token %}
        <td><button class="btn btn-danger"  name="status_ok"> POTRDI OK</button>
            <br><br>
        <button class="btn btn-warning"  name="poslji_racun">Račun poslan</button>    
        <br><br>
        <button class="btn btn-primary"  name="undo">Undo spremembe</button>    
        </form>
    </td>
    </tr>
    {% if msg %}
    <tr>
    <td>
    <p style="font-size: larger; font-weight: bold;">{{msg}}</p>
    
    <button class="btn btn-outline-danger" type="submit" onclick="location.href='/form_virtual'"></a>Nazaj na virtual</button>
    {% endif %}
</td>
    </tr>
</table>

 


{% endblock %}
