{% extends 'base.html' %}

<!-- % load bootstrap5 %} -->
{% block meta_title %} 
<title>Dashboard</title>
{% endblock %}

{% block title %}
    
{% endblock %}


{% block content %}
<style>
    .containerDash {
    display: grid;
    grid-template-columns: 25% 25% 25% 24%;
    grid-template-rows: 33% 33% 33%;
    grid-template-areas: 
    "nocitve avansi listagostov zadnjerez"
    "idponudb ccd listagostov zadnjerez"
    "skupajeur eurnaagencijo odpovedi prostesobe";
    
    border: solid red 3px;
    grid-gap: 2px; 
    width: 97vw ;
    height: 88vh;
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 600px) {
  .containerDash {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }
  
  
  
  
  .box1 {
    width: 100%;
  }
}


/* body {
  width: 100vw;
    /* background-color: yellow; */
  /* margin: 70px;
  padding: 0; */
/*} */


.nocitve, .avansi, 
.listagostov,  
.idponudb, .ccd, .skupajeur, 
.eurnaagencijo, .odpovedi, .prostesobe, 
.zadnjerez, .listagostov{
border: solid green 3px;
}

.nocitve {
    grid-area: nocitve;
}
.avansi {
    grid-area: avansi;
}
.listagostov {
    grid-area: listagostov;
} 
.idponudb {
    grid-area: idponudb;
}
.ccd {
    grid-area: ccd;
}
.skupajeur {
    grid-area: skupajeur;
}
.eurnaagencijo {
    grid-area: eurnaagencijo;
}
.odpovedi {
    grid-area: odpovedi;
}
.prostesobe {
    grid-area: prostesobe;
}
.zadnjerez {
    grid-area: zadnjerez;
}
.listagostov{
    grid-area: listagostov;
}

.nizka_vrstica {
    height: 30px;
    margin: 0;
    padding: 0;
}

td {
    font-weight: bold;
}

</style>

<div class="containerDash" style="z-index: 99;">
    
    <div class="nocitve" style="overflow: scroll;">
        Nočitve
        <table class="table-sm table-bordered" style="width: 100%;">
            <thead>
                <tr>
                    <th>Y</th>
                    <th>m</th>
                    <th>€</th>
                    <th>noč</th>
                </tr>
            </thead>
            <tbody>
                <!-- Vnos podatkov iz pandas df v tabelo -->
                {% for index, row in df_nocitve.iterrows %}
                    <tr>
                        <td>{{ row.y }}</td>
                        <td>{{ row.m }}</td>
                        <td>{{ row.cena }}</td>
                        <td>{{ row.nocitev }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <div class="avansi" style="overflow: scroll;">
        Avansi
        <table class="table-sm table-bordered" >
            
            {% for item in avansi %}
            <tr>
                <td><button class ="btn btn-warning btn-sm" style="width: 40px;" onclick="location.href='/updateIzGrafa/{{item.id}}'">{{item.stsobe}}</button></td>
                <td>{{item.imestranke}}</td>
                <td>{{item.RokPlacilaAvansa|date:"d.m."}}</td>
                
    
            </tr>    
            {% endfor %}
            </table>
    
    </div>



    <div class="listagostov" style="overflow: scroll;">
        Lista Gostov
        <table class="table-sm table-bordered">
            
        {% for index, row in lista_gostov.iterrows %}
        <tr>
            <td><button class ="btn btn-warning btn-sm" style="width: 40px;" onclick="location.href='/updateIzGrafa/{{row.id}}'">{{row.stsobe}}</button></td>
            <td>{{row.imestranke}}</td>
            <td>{{row.do_dt|date:"d.m."}}</td>
            <td>{{row.se_dni}}</td>
            <td>{{row.agencija}}</td>
            <td>{{row.DR}}</td>

        </tr>    
        {% endfor %}
        </table>
    </div>



    <div class="zadnjerez" style="overflow: scroll;">
        Zadnje Rezervacije
        <table class="table-sm table-bordered">
            
            {% for index, row in zadnje_rezervacije.iterrows %}
            <tr>
                <td><button class ="btn btn-warning btn-sm" style="width: 40px;" onclick="location.href='/updateIzGrafa/{{row.id}}'">{{row.stsobe}}</button></td>
                <td>{{row.imestranke}}</td>
                <td>{{row.datumVnosa_dt|date:"d.m"}}</td>
                <td>{{row.agencija}}</td>
                <td>{{row.DR}}</td>

    
            </tr>    
            {% endfor %}
            </table>
    </div>
    

    <div class="idponudb">
        Id Ponudb<br>
        
        {% for x in id_ponudb %}
        <!-- !!!!!  x.0 >> prva poticija v listu ali v tupple -->
        <a href="{% url 'rezervacije:form_vnos_iz_ponudbe' x.0 %}">{{x.1}}</a><br>
        {% endfor %}
    </div>

    <div class="ccd">
        CCD
    </div>

    <div class="skupajeur" style="overflow: scroll;">
        <div style="display: flex; orientation: row; justify-content: space-between;">
        <p> Skupaj EUR: <span style="color: red; font-weight: bold;"> {{ime_dneva_v_tednu}}</span></p>
        <form action="" method="post">
            {% csrf_token %}
            <button class="btn btn-sm btn-dark" type="submit" name="btn_dan_nazaj">-</button>
            <button class="btn btn-sm btn-dark" type="submit" name="btn_danes">Danes</button>
            <button class="btn btn-sm btn-dark" type="submit" name="btn_jutri">Jutri</button>
            <button class="btn btn-sm btn-dark" type="submit" name="btn_dan_naprej">+</button>
        </form>
        </div>
        <table class="table-sm table-bordered">
            <!-- raport ima 2 stolpca: index in Podatki -->
            {% for index, row in raport.iterrows %}
            <tr style="height: 21px;">
                {% if row.index == "xxx"  %}
                <td>Datum</td>
                {% else %}
                <td>{{row.index}}</td>
                {% endif %}
                <td>{{row.Podatki}}</td>
    
            </tr>    
            {% endfor %}
        </table>



    </div>

    <div class="eurnaagencijo" style="overflow: scroll;">
        EUR na agencijo
        
        <table class="table-sm table-bordered">
            
            {% for index, row in agencije_profit.iterrows %}
            <tr>
                <td>{{row.agencija}}</td>
                <td>{{row.Cena}}</td>
    
            </tr>    
            {% endfor %}
            </table>
    </div>

    <div class="odpovedi">
        Odpovedi
        <table class="table-sm table-bordered">
            
            {% for index, row in zadnje_odpovedi.iterrows %}
            <tr>
                <td>{{row.stsobe}}</td>
                <td>{{row.imestranke}}</td>
                <td>{{row.agencija}}</td>
                <td>{{row.DR}}</td>
    
            </tr>    
            {% endfor %}
            </table>
    </div>

    <div class="prostesobe" style="overflow: scroll;">
        Proste sobe
        <table class="table-sm table-bordered">
            
            {% for index, row in proste_sobe.iterrows %}
            <tr>
                <td>{{row.stsobe}}</td>
                <td>{{row.DniDoNaslPrih}}</td>
                <td>{{row.od}}</td>
    
            </tr>    
            {% endfor %}
            </table>
    </div>








</div>



{% endblock %}